/* Nav Bar */
.navbar-brand {
    margin-right: 0;
}

.nav-link:link,
.nav-link:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 0.1rem solid transparent;
    padding-bottom: 0.15rem;
    transition: color 0.6s, border-bottom 0.6s;
    margin: 0 0.5rem;
}

.nav-link:hover,
.nav-link:active {
    border-bottom: 0.1rem solid orange;
}

button:hover,
button:active {
    background-color: rgba(255, 165, 0, 0.3);
    transition-duration: 0.6s;    
}

/* ============================================================================================================================== */

/* Home Page */
.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.5)), url('./img/286353.jpg');
    /* background-image: url('./img/286353.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.explore-text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 600;
    color: antiquewhite;
    transform: translate(-50%, -50%);
}

#city {
    color: orange;
}

/* ============================================================================================================================== */

/* Body */
body {
    background-color: rgba(0, 0, 0, 0.05);
}


/* ============================================================================================================================== */




.row {
    border: solid rgb(234, 234, 243) 1px;
    border-radius: 0.6rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem gray;
}

.img-items {
    width: 16rem;
    height: 16rem;
    border-radius: 0.2rem;
}

.item_name {
    display: inline-block;
    margin: 0.3rem 0;
    color: red;
    font-weight: 600;
    text-decoration: none;
}

.review_count {
    color: grey;
    font-weight: 300;
}

p {
    margin-bottom: 0.5rem;
}

.fa-check {
    color:rgb(5, 168, 130);
}

.phone, .address, a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.fa-hamburger {
    color: #f43939;
}

.col-sm-4 {
    padding: 0.5rem;
}

.fa-list, .fa-info-circle {
    margin: 1rem;
}

/* Detail Page */
.img-detail {
    display: block;
    width: 90%;
    border-radius: 0.2rem;
    margin: auto;
}

#mapid {
    margin: 1rem 0;
    border-radius: 0.2rem;
    height: 8rem;
}

.price {
    color: #f43939;
    font-weight: 500;
}

.categories {
    margin: 2rem 0;
    text-align: center;
}

#defaultMapId {
    margin: 1rem 0;
    border-radius: 0.2rem;
    height: 32rem;
}

#default-image {
    width: 100%;
    height: auto;
}
