<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
    <link rel="stylesheet" href="/static/app.css">
    <!-- <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"> -->
    <!-- <link rel="stylesheet" href="css/leaflet.awesome-markers.css"> -->
    <!-- <script src="src/leaflet.awesome-markers.min.js"></script> -->

    <style>#mapid { height: 180px; }</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top" style="background-color: rgba(0,0,0,0.8); width: 100%;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fas fa-hamburger" style="color: orange"></i> <span style="color: orange;"> Foodie</span></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    {% if not g.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="/signin" style="color: orange;">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" style="color: orange">Sign Up</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/users/{{g.user.username}}" style="color: orange">Hello {{g.user.username}}!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: orange">Log Out</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex" action="/businesses/search">
                    <input name='term' class="form-control me-2" type="search" placeholder="Restaurant" aria-label="Find" style="border: 1px orange solid">      
                    <input name='location' class="form-control me-2" type="search" placeholder="San Francisco, CA" aria-label="Near" style="border: 1px orange solid">
                    <button class="btn" type="submit" style="color: orange; border: 1px orange solid">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="message">
                {% for category, msg in messages %}
                    <p class="{{category}}">* {{msg}}</p>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>