{% extends 'base.html' %}

{% block title %}
    Sign Up Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="margin-top: 1rem;">Sign Up</h1>
        <div class="row justify-content-center" style="border: 1px solid orange; background-color: #fff">
            <div class="col-md-8">
                <form method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                        {% if field.id != 'file' %}
                            <div class="form-group">
                                <span style="color: orange; margin-bottom: 0.2rem; display: block">{{field.label}}</span>
                                {{field(class_="form-control")}}
                                {% for err in field.errors %}
                                    <small class="form-text text-danger">
                                        {{err}}
                                    </small>
                                {% endfor %}
                            </div><br>
                        {% endif %}
                    {% endfor %}

                    <div class="form-group">
                        <span id="form-file">{{form.file}}</span>
                    </div>
                    <div style="margin-top: 1.5rem; display: flex; flex-direction: row; justify-content: space-between">
                        <div>
                            <button class="btn" style="color: orange; border: 1px orange solid; margin-right: 0.5rem">Sign Up</button>
                            <a href="/" class="btn back" style="color: blue; border: 1px blue solid; margin-right: 0.5rem">Back To Home Page</a>
                        </div>
                        <div style="margin: auto 0">
                            <span>Already on Foodie?</span>
                            <a href="/signin" style="color: orange;">Sign In</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}