{% extends 'base.html' %}

{% block title %}
    Sign In Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="margin-top: 1rem;">Sign in for Our New Foodie</h1><br>
        <div class="row justify-content-center" style="border: 1px solid orange; background-color: #fff">
            <div class="col-md-8">
                <form method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}

                    {% for field in form if field.widget.input_type != 'hidden' %}
                        <div class="form-group">
                            <span style="color: orange; margin-bottom: 0.2rem; display:block">{{field.label}}</span>
                            {{field(class_="form-control")}}
                            {% for err in field.errors %}
                                <small class="form-text text-danger">
                                    {{err}}
                                </small>
                            {% endfor %}
                        </div><br>
                    {% endfor %}
                    <button class="btn" style="color: orange; border: 1px orange solid">Sign In</button>
                    <a href="/" class="btn back" style="color: blue; border: 1px blue solid">Back To Home Page</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}